// Fonts
$font-primary: 'Arcade-Regular', sans-serif;
$font-primary-bold: 'Arcade-Regular', sans-serif;
$font-primary-tertiary: 'Arcade-Classic', sans-serif;
$font-secondary: 'Raleway-Regular', sans-serif;
$font-secondary: 'Raleway-Bold', sans-serif;
$font-default-link: sans-serif;

// Colors
$color-primary: #CD4368;
$color-secondary: #fff;
$color-default-link: #000;

// Icons

// Site Header
$height-header: 200px;
$height-header-stuck: 150px;
$height-header-mobile: 100px;

// Promotional Bar
$height-full-promo-bar: 400px;
$height-mini-promo: 200px;

// Screen Sizes
$size-small: 500px;
$size-medium: 768px;
$size-large: 769px;
$size-small-desktop: 1024px;

// Header Sizes
$size-header-large: 24px;
$size-header-medium-large: 20px;
$size-header-medium: 16px;
$size-header-small-medium: 12px;
$size-header-small: 8px;

// Content Sizes
$size-content-large: 24px;
$size-content-medium-large: 20px;
$size-content-medium: 16px;
$size-content-small-medium: 12px;
$size-content-small: 8px;

// Link Sizes
$size-link-large: 24px;
$size-link-medium-large: 20px;
$size-link-medium: 16px;
$size-link-small-medium: 12px;
$size-link-small: 8px;

// Z-Indexes
$z-infront: 10;
$z-middle: 5;
$z-behind: 1;
$z-minus-one: -1;

// Gutters

$gutter-small: 10px;
$gutter-medium: 20px;
$gutter-large: 30px;